<h1>Home Page</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formModal">Add Recipe</button>
<ul class="list-group">
    {{#each recipes}}
    <li class="list-group-item">
        <h4>
            <form method="POST" action="/delete">
                <input type="hidden" name="id" value="{{this.id}}" />
                {{this.name}}
                <input type="submit" class="btn btn-danger float-right delete-recipe" value="DELETE" />
            </form>
        </h4>
        <hr />
        <b>Ingredients: </b>{{this.ingredients}}<br />
        <b>Directions: </b>{{this.directions}}
    </li>
    {{/each}}
    <br />
</ul>
<!-- Add Form Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="/add">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Add Recipe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Recipe Name</label>
                        <input type="text" class="form-control" name="name" />
                    </div>
                    <div class="form-group">
                        <label>Ingredients</label>
                        <textarea class="form-control" name="ingredients"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Directions</label>
                        <textarea class="form-control" name="directions"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>